@media (min-width: 320px) and (max-width: 750px) {
  .header {
    margin-left: 50px;
    padding: 10px;
    font-size: 1.5rem;
  }

  .dashbord-div {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .dashbord-content {
    text-align: center;
    width: 100%;
    padding-left: 0px;
  }
  .img-div {
    width: 100%;
    height: 200px;
  }
  .img-div img {
    margin-top: -190px;
  }
  .title {
    padding-top: 100px;
  }
  .form-div {
    width: 85%;
  }
  .form-in {
    width: 100%;
    max-width: 800px;
  }
  .form-btn {
    width: 100%;
  }
  .service-cards-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 100px 20px;
  }
  .services-img-con {
    padding: 30px;
    width: 100%;
  }
  .pricing-cards-div {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .pricing-card {
    margin: 20px 0px 0px 0px;
  }
  .pricing-card h3 {
    margin-top: 10px;
  }
  .card-btn {
    margin: 0;
    width: 90%;
  }
  .fact-cards {
    flex-direction: column;
  }
  .fact-card h3 {
    font-size: 2rem;
  }
  .fact-card p {
    font-size: 1rem;
  }
  .customer-cards {
    flex-direction: column;
    width: 70%;
    margin-top: 20px;
  }
  .customer-card {
    margin-top: 100px;
  }
  .customer-card img {
    right: 40px;
  }
  .customer-card-content strong {
    margin-top: 20px;
  }
  .services-btn {
    display: flex;
    flex-direction: column;
  }
  .services-btn button {
    width: 90%;
    margin: 10px auto;
  }
  .services-image {
    display: flex;
    flex-direction: column;
  }
  .services-img-div {
    width: 100%;
  }
  .services-img-div img {
    width: 90%;
    margin-top: 20px;
  }
  .services-contant-div {
    width: 100%;
    margin-top: 0px;
  }
  .news-con {
    width: 80%;
  }
  .news-form-div {
    width: 100%;
  }
  .news-form-div span {
    right: 30px;
  }
  .news-form-div input {
    width: 70%;
  }
  .blog-cards {
    display: flex;
    flex-direction: column;
    max-width: 290px;
  }
  .blog-con {
    width: 80%;
  }
  .footer-div {
    padding: 10px;
  }
  .footer-cards {
    flex-direction: column;
    margin-top: 40px;
  }
  .footer-card1 {
    width: 100%;
  }
  .footer-card2 {
    width: 100%;
  }
  .footer-card3 {
    width: 100%;
  }
  .footer-card4 {
    width: 100%;
  }
  .footer-div h6 {
    padding-bottom: 80px;
  }
  .services-contant-div {
    /* width: 50%; */
    /* text-align: left; */
  }
}

@media (min-width: 750px) and (max-width: 900px) {
  .header {
    margin-left: 130px;
  }
  .img-div img {
    margin-top: 230px;
  }
  .title {
    padding-top: 140px;
  }
  .news-form-div span {
    right: 30px;
  }
  .news-form-div input {
    width: 70%;
  }
  .services-card h2 {
    margin: 0px;
  }
  .services-card p {
    margin: 20px;
  }
  .services-img-div {
    width: 50%;
  }
  .services-img-div img {
    width: 100%;
    margin-top: 150px;
  }
  .services-img-con {
    width: 100%;
    padding: 20px;
  }
  .services-contant-div {
    width: 50%;
  }
  .blog-cards {
    max-width: 700px;
  }
  .blog-card img {
    width: 200px;
    height: 200px;
  }
  .footer-social-icon {
    display: flex;
  }
  .footer-div {
    padding: 50px;
  }
}

@media (min-width: 901px) and (max-width: 1350px) {
  .services-img-div {
    width: 50%;
  }
  .services-img-div img {
    width: 100%;
    margin-top: 150px;
  }
}
